html,body{
  background: '#000';
}

div#audio-notice{
  background: red;
  width: 100% !important;
  height: 100%;
  position: absolute;
  top: 0;
  width: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}